@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    background-color: red;
    padding: 10px;
    text-align: center;
}
.bg-red{
    background-color: red;
}

.p-10{
    padding: 10px;
}
.text-align{
    text-align: center;
}